!=css('slides')
!=js('Slides')

#connect Connecting to Server...

#slides
   .slide
      h1 Visualize This!<br/>Data Visualization with D3.js
      .center
         .d3#logo
         p
            b Who: 
            a(href="http://mylessteinhauser.com") Myles A. K. Steinhauser
            br
            b Twitter: 
            a(href="http://twitter.com/masteinhauser") @masteinhauser
            br
            br

         p Visit 
            b http://#{ip}:#{app.address().port}/ 
            | in your browser

         //p NOTE: You may not be the only one viewing these slides...
      .speaker
         ul
            li Hi and Welcome!

   .slide
     h1 Why Visualize?
     .center
       div
         div(style="float:left")
           h3 This is better
           .d3#line-chart

         div(Style="float:right; padding-right: 15%; ")
           h3 Than this...
           table
             tr
               th X
               th Y
             tr
               td 0
               td 3
             tr
               td 1
               td 6
             tr
               td 2
               td 2
             tr
               td 3
               td 7
             tr
               td 4
               td 5
             tr
               td 5
               td 2
             tr
               td 6
               td 0
             tr
               td 7
               td 3
             tr
               td 8
               td 8
             tr
               td 9
               td 2
             tr
               td 10
               td 5
             tr
               td 11
               td 9
             tr
               td 12
               td 3
             tr
               td 13
               td 6
             tr
               td 14
               td 3
             tr
               td 15
               td 6
             tr
               td 16
               td 2
             tr
               td 17
               td 7
             tr
               td 18
               td 5
             tr
               td 19
               td 2
             tr
               td 20
               td 1
             tr
               td 21
               td 3
             tr
               td 22
               td 8
             tr
               td 23
               td 9
             tr
               td 24
               td 2
             tr
               td 25
               td 5
             tr
               td 26
               td 9
             tr
               td 27
               td 2
             tr
               td 28
               td 7
             tr
               td 29
               td 2
             tr
               td 30
               td 5
      .speaker
         ul

   .slide
      h1 What is D3.js?
      ul
         li Data Driven Document(D3)
         li SVG
         li Javascript
         li Minimal library

   .slide
      h1 Pros/Cons
      ul
         li <b>Low-level</b><br>Gives you complete access to the transformation code
         li <b>High-Level</b><br>Find what you like, plug in the data... Done.

      .speaker
         ul
            li 

   .slide
      h1 What to Display
      ul
        li <b>Directly Relevant</b><br>Only info used for direct analysis
        li <b>Time Scaled</b><br>Visualizations excel at displaying time based data
        li <b>Clearly Convey Meaning</b><br>Great at revealing non-obvious patterns and info in data
        li <b>Multi-dimensional/Overlapping</b><br>Complex multi-column data using overlays/multi-axis

      .speaker
         ul
            li 

   .slide
      h1 How to Display Information
      ul
         li Old School
            ul
               li Line
               li Bar
               li Pie

   .slide
      h1 How to Display Information
      ul
         li D3.js
            ul
               li 
                  a(href="http://benjchristensen.com/2012/05/02/line-graphs-using-d3-js/") Line
               li 
                  a(href="http://mbostock.github.com/d3/ex/stack.html") Bar
               li 
                  a(href="http://mbostock.github.com/d3/ex/bullet.html") Bullet
               li 
                  a(href="http://mbostock.github.com/d3/talk/20111116/iris-splom.html") Scatter Plot
               li 
                  a(href="http://mbostock.github.com/d3/talk/20111018/tree.html") Tree
               li 
                  a(href="http://mbostock.github.com/d3/talk/20111018/choropleth.html") Maps
               li 
                  a(href="http://mbostock.github.com/d3/ex/force.html") Force
               li
                  a(href="http://plunker.no.de/edit/GkSsLl?preview=on") Timeline
               li
                  a(href="https://github.com/mbostock/d3/wiki/Gallery") Many, many more...

   .slide
      h1 D3.js Compatibility
      ul
         li "Modern" browsers
            ul
               li Firefox
               li Chrome (Chromium)
               li Safari (Webkit)
               li Opera
               li IE9
         li IE8 works with:
            ul
               li
                  a(href="https://github.com/shawnbot/aight") Aight
               li
                  a(href="http://sizzlejs.com/") Sizzle

   .slide
      h1 ADC Examples
      ul <b>Internal</b>
         li
            a(href="http://viz.adc4gis.local") Viz Tool
         li
            a(href="http://dashboard.adc4gis.local") Systems Dashboard

      ul <b>External</b>
         li None, yet...

   .slide
      h1 Tutorials + Helpful Links
      ul
         li Tutorials
         ul
            li
               a(href="http://christopheviau.com/d3_tutorial/") Christophe Viau
            li 
               a(href="http://bost.ocks.org/mike/d3/workshop/") Mike Bostock - VIZBI 2012
            li
               a(href="http://bost.ocks.org/mike/join/") Mike Bostock - Thinking in Joins
            li
               a(href="http://alignedleft.com/tutorials/d3/") Scott Murray - D3 Tutorials
            li
               a(href="http://www.recursion.org/d3-for-mere-mortals/") D3 for Mere Mortals
            li
               a(href="http://enja.org/") Ian Johnson
         li Helpful Links
         ul
            li
               a(href="http://d3js.org") D3.js Main Site
            li
               a(href="https://github.com/mbostock/d3") D3.js Github
            li
               a(href="https://github.com/mbostock/d3/wiki") D3.js Wiki on GitHub
            li
               a(href="https://github.com/mbostock/d3/wiki/Gallery") D3.js Gallery + Tools/Snippets/etc.
            li
               a(href="http://nvd3.com") NVD3
            li
               a(href="http://nvd3.com/livecode/") NVD3 - Live Code (Excellent!)
            li
               a(href="http://www.d3-generator.com/") D3.js Bar Chart Generator
            li
               a(href="http://jsfiddle.net/plaliberte/HAXyd/") Export to PNG
   .slide
      h1 Questions + Discussion
      p Technologies used in this presentation:
      ul
         li Server Side
            ul
               li
                  a(href="http://nodejs.org") NodeJS
               li
                  a(href="http://expressjs.com") Express
               li
                  a(href="http://socket.io") Socket.io
               li
                  a(href="http://jade-lang.com") Jade
               li
                  a(href="http://learnboost.github.com/stylus") Stylus
               li
                  a(href="http://github.com/TrevorBurnham/connect-assets") Connect Assets / Snockets
         br
         li Client Side
            ul
               li
                  a(href="http://d3js.org") D3.js
               li
                  a(href="http://documentcloud.github.com/backbone") jQuery
               li
                  a(href="http://documentcloud.github.com/backbone") Backbone
      p Thanks for watching/listening!

   img.logo(src='/img/adc.png')
   #keyboard-enable

   #footer
      a(href="http://github.com/masteinhauser/dataviz", target='_blank')
       | http://github.com/masteinhauser/dataviz
      .upper
         | Myles A. K. Steinhauser 
         a(href="http://twitter.com/masteinhauser") @masteinhauser
         | &nbsp;| http://#{ip}:#{port}/
