!=css('slides')
!=js('Slides')

#connect Connecting to Server...

#slides
   .slide
      h1 Visualize This!<br/>Data Visualization with D3.js
      .center
         .d3#logo
         p
            b Who: 
            a(href="http://mylessteinhauser.com") Myles A. K. Steinhauser
            br
            b Twitter: 
            a(href="http://twitter.com/masteinhauser") @masteinhauser
            br
            br

         p Visit 
            b http://#{ip}:#{app.address().port}/ 
            | in your browser

         //p NOTE: You may not be the only one viewing these slides...
      .speaker
         ul
            li Hi and Welcome!

   .slide
     h1 Why Visualize?
     .center
       div
         div(style="float:left")
           h3 This is better
           .d3#line-chart

         div(Style="float:right; padding-right: 25%; ")
           h3 Than this...
           table
             tr
               th X
               th Y
             tr
               td 0
               td 3
             tr
               td 1
               td 6
             tr
               td 2
               td 2
             tr
               td 3
               td 7
             tr
               td 4
               td 5
             tr
               td 5
               td 2
             tr
               td 6
               td 0
             tr
               td 7
               td 3
             tr
               td 8
               td 8
             tr
               td 9
               td 2
             tr
               td 10
               td 5
             tr
               td 11
               td 9
             tr
               td 12
               td 3
             tr
               td 13
               td 6
             tr
               td 14
               td 3
             tr
               td 15
               td 6
             tr
               td 16
               td 2
             tr
               td 17
               td 7
             tr
               td 18
               td 5
             tr
               td 19
               td 2
             tr
               td 20
               td 1
             tr
               td 21
               td 3
             tr
               td 22
               td 8
             tr
               td 23
               td 9
             tr
               td 24
               td 2
             tr
               td 25
               td 5
             tr
               td 26
               td 9
             tr
               td 27
               td 2
             tr
               td 28
               td 7
             tr
               td 29
               td 2
             tr
               td 30
               td 5
      .speaker
         ul

   .slide
      h1 What to Display
      ul
        li Directly Relevant
        | Only info used for direct analysis
        li Timeline based
        | Visualizations excell at displaying time based data

      .speaker
         ul
            li 

   .slide
      h1 How to Display
      .center
         //img.framed(src="/img/cli.png", width="468", height="540")
      ul
         li 

      .speaker
         ul
            li 

   .slide
      h1 Questions + Discussion
      p Technologies used in this presentation:
      ul
         li Server Side
            ul
               li
                  a(href="http://nodejs.org") NodeJS
               li
                  a(href="http://expressjs.com") Express
               li
                  a(href="http://socket.io") Socket.io
               li
                  a(href="http://jade-lang.com") Jade
               li
                  a(href="http://learnboost.github.com/stylus") Stylus
               li
                  a(href="http://github.com/TrevorBurnham/connect-assets") Connect Assets / Snockets
         br
         li Client Side
            ul
               li
                  a(href="http://d3js.org") D3.js
               li
                  a(href="http://documentcloud.github.com/backbone") jQuery
               li
                  a(href="http://documentcloud.github.com/backbone") Backbone
      p Thanks for watching/listening!

   img.logo(src='/img/adc.png')
   #keyboard-enable

   #footer
      a(href="http://github.com/masteinhauser/data-viz", target='_blank')
       | http://github.com/masteinhauser/data-viz
      .upper
         | Myles A. K. Steinhauser 
         a(href="http://twitter.com/masteinhauser") @masteinhauser
         | &nbsp;| http://#{ip}:#{port}/
